.titolo{
    font-size: 25px;
    background-color: #a5b5c4;
    border-radius: 25px;
    padding: 1%;
    font-weight: bold;
}
div img{
    width: 90px;
}
#conferma{
    width: 50%;
    color: white;
    font-size: 22px;
    font-family: "Helvetica Neue", sans-serif;
    background-color: forestgreen;
    border-radius: 20px;
    padding: 2% ;
}
.bObj{
    width: 20%;
    padding: 1%;
    font-size: 15px;
    border-radius: 20px;
    color: black;
    font-family: "Helvetica Neue", sans-serif;
    background-color: forestgreen;
}
#select{
    width: 80px;
    height: 50px;
    border: 1px solid;
}

#data_prenotazione{
    width: 15rem;
    height: 2rem;
    border: 1px solid;
    padding: 2%;
    border-radius: 20px;
}
