.logo{
    max-width: 200px;
}
.logo img{
    width: 100%;
}
.Bottone{
    border: 3px #f4a460 solid;
    border-radius: 20px;
    padding: 1rem 2rem;
    margin: 0.900rem;
    background: #f4a460;
}
.Bottone:hover{
    background: #f4a460;
}
.hero a {
    text-decoration: none;
    color: white;
}
.hero a:hover {
    color: #313131;
}
.menu{
    margin-left: 15%;
    background-color: #f4a460;
    border-radius: 10px;
    width: 80%;
}
.mScelta:hover{
    font-size: 22px;
    color: #c9a8d5;
}
@media (max-width: 768px) {
    .menu{
        margin-left: 0;
    }
}