a {
    width: 50%;
}
.search input{
    width: 100%;
    padding: 10px;
    border: #2d282f;
    border-radius: 20px;
}
.libriPrimoPiano div {
    width: 100%;
    min-height: 80px;
}
.libriPrimoPiano img {
    width: 80%;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.libriPrimoPiano img:hover {
    width: 100%;
}
.textC h2{
    margin-left: 50px;
    text-align: start;
    font-size: 22px;
    color: #dc5e0c;
    background-color: #c6bdb8;
    border-radius: 10px;
    padding: 3px 100px;
}

.id\=Find{
    color: #0a53be;
    
}