<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="../static/css/Style.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/Index.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/Header.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/Footer.css"/>
    <link href="../static/bootstrap-5.0.2-dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="../static/icon/icon.png">
    <meta charset="UTF-8">
    <title>FastBook</title>
</head>
<body>
<div class="sfondo p0 d-flex justify-content-end align-items-center">
    <div class="container home Bord1">
        <!-- Intestazione responsitive dal tablet -->
        <div class="row p0">
            <nav class="px-md-5 hero d-flex flex-column flex-md-row justify-content-between align-items-center">
                <div class="">
                    <span class="logo"><img src="../static/image/FastBook.png"/></span>
                </div>
                <div class="menu p-3  d-flex flex-row justify-content-center align-items-center" id="menu">
                    <span class="Bord1 mScelta px-5"><a id="lHome" href="Index.html">Home</a></span>
                    <span class="Bord1 mScelta px-5"><a href="Registrazione.html">Registrati</a></span>
                </div>
                <div class="Bottone d-flex justify-content-center align-items-center" id="lgn">
                        <span class="Bord1">
                            <a href="Login.html">Accedi</a>
                        </span>
                </div>
            </nav>
        </div>
        <!-- Corpo responsitive dal tablet -->
        <div class="row pT5">
            <div class="p0 col-md-10 offset-md-1 ">
                <div class="Bord1 textC"><h1>Find your book</h1></div>
                <div class="Bord1 p0 textC">
                    <p>
                        Cerca fra centinaia di titoli ed autori, un nuovo viaggio ti aspetta !
                    </p>
                </div>
                <form id="search" method="post">
                    <div class="ricerca d-flex flex-md-row flex-column  justify-content-start align-items-center">
                        <div class="Bord1 col-9 col-md-3 ">
                            <input type="text" value="" placeholder="Ricerca per titolo" id="inputName">
                        </div>
                        <div class="Bord1 col-9 col-md-3  ">
                            <input type="text" value="" placeholder="Ricerca per autore" id="inputAutor">
                        </div>
                        <div class="Bord1 col-9 col-md-3  ">
                            <input type="text" value="" placeholder="Ricerca per casa editrice" id="inputCasaEditrice">
                        </div>
                        <div class="Bord1 col-md-3 ">
                            <button class="bRicerca" id="richiesta" type="submit">Ricerca</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- libri in primo piano -->
        <div class="Bord1 textC"><h2>Libri Fantasy</h2></div>
        <nav class=" libriPrimoPiano d-flex flex-column flex-md-row justify-content-between align-items-center px-4" id="fantasy">
<!--            <div class="d-flex flex-row justify-content-center align-items-center">-->
<!--                <a class="mx-2"> <img src="../static/image/Harry_Potter_e_il_calice_di_fuoco.jpg"></a>-->
<!--                <a class="mx-2"> <img src="../static/image/Harry_Potter_e_il_prigioniero_di_Azkaban.jpg"></a>-->

<!--            </div>-->
<!--            <div class="d-flex flex-row justify-content-center align-items-center">-->
<!--                <a class="mx-2" target="_blank"-->
<!--                   href="http://localhost:63342/Biblioteca/templates/Product.html?_ijt=6neo8baoi3n7rivconq9p8c5f4"> <img-->
<!--                        src="../static/image/Harry_Potter_e_la_camera_dei_segreti.jpg"></a>-->
<!--                <a class="mx-2"> <img src="../static/image/harry_potter_e_la_pietra_filosofale.jpg"></a>-->

<!--            </div>-->
        </nav>
        <div class="Bord1 textC"><h2>Libri Di Cucina</h2></div>
        <nav class=" libriPrimoPiano d-flex flex-column flex-md-row justify-content-between align-items-center px-4" id="cucina">
<!--            <div class="d-flex flex-row justify-content-center align-items-center">-->
<!--                <a class="mx-2"> <img src="../static/image/ilmegliodiantonino.jpg"></a>-->
<!--                <a class="mx-2"> <img src="../static/image/se-vuoi-fare-il-figo-usa-lo-scalogno.jpg"></a>-->

<!--            </div>-->
<!--            <div class="d-flex flex-row justify-content-center align-items-center">-->
<!--                <a class="mx-2"> <img src="../static/image/CHEF.jpg"></a>-->
<!--                <a class="mx-2"> <img src="../static/image/IL_PRANZO_DI_NATALE.jpg"></a>-->

<!--            </div>-->
        </nav>
        </nav>
        <div class="Bord1 textC"><h2>Libri Horror</h2></div>
        <nav class=" libriPrimoPiano d-flex flex-column flex-md-row justify-content-between align-items-center px-4" id="horror">
<!--            <div class="d-flex flex-row justify-content-center align-items-center">-->
<!--                <a class="mx-2"> <img src="../static/image/R.jpg"></a>-->
<!--                <a class="mx-2"> <img src="../static/image/SHINING.jpg"></a>-->

<!--            </div>-->
<!--            <div class="d-flex flex-row justify-content-center align-items-center">-->
<!--                <a class="mx-2"> <img src="../static/image/IT.jpg"></a>-->
<!--                <a class="mx-2"> <img src="../static/image/OIP.jpg"></a>-->

<!--            </div>-->
        </nav>

        <footer class="footer mt-5 p-0 d-flex flex-row justify-content-between align-items-center">
            <div class="p-0 w5-1">
                Fastbook © 2020
            </div>
            <div class="p-0 w5-1 d-flex flex-row justify-content-end align-items-center">
                <span>About</span>
                <span>FAQ</span>
                <span>Terms & Conditions</span>
                <span>Privacy Policy</span>
            </div>
        </footer>
    </div>
</div>
<script src="../static/js/index.js"></script>
</body>
</html>
