<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="../static/css/Style.css"/>
  <link rel="stylesheet" type="text/css" href="../static/css/Header.css"/>
  <link rel="stylesheet" type="text/css" href="../static/css/Footer.css"/>
  <link rel="stylesheet" type="text/css" href="../static/css/Libro.css">
  <link href="../static/bootstrap-5.0.2-dist/css/bootstrap.min.css" rel="stylesheet" >
  <link rel="icon" href="../static/icon/icon.png">
  <meta charset="UTF-8">
  <title>FastBook</title>
</head>
<body>
<div class="sfondo p0 d-flex justify-content-center align-items-center">
  <div class="container home Bord1">
    <!-- Intestazione responsitive dal tablet -->
    <div class="row p0">
      <nav class="px-md-5 hero d-flex flex-column flex-md-row justify-content-between align-items-center">
        <div class="">
          <span class="logo"><img src="../static/image/FastBook.png"/></span>
        </div>
        <div class="menu p-3  d-flex flex-row justify-content-center align-items-center">
          <span class="Bord1 mScelta px-5"><a href="Index.html">Home</a></span>
          <span class="Bord1 mScelta px-5"><a href="Registrazione.html">Registrati</a></span>
        </div>
        <div class="Bottone d-flex justify-content-center align-items-center">
                        <span class="Bord1">
                            <a href="Login.html">Accedi</a>
                        </span>
        </div>
      </nav>
    </div>
    <div class="p-0 col-md-10 offset-md-2">
      <form id="search" method="post">
        <div class="ricerca d-flex flex-column flex-md-row justify-content-end align-items-center">
          <div class="Bord1">
            <input type="text" value="" placeholder="Ricerca per titolo" id="inputName">
          </div>
          <div class="Bord1">
            <input type="text" value="" placeholder="Ricerca per autore" id="inputAutor">
          </div>
          <div class="Bord1">
            <input type="text" value="" placeholder="Ricerca per casa editrice" id="inputCasaEditrice">
          </div>
          <div class="Bord1 col-md-3">
            <button class="bRicerca" id="richiesta" type="submit">Ricerca</button>
          </div>
        </div>
      </form>
    </div>
    <!-- Corpo responsitive dal tablet -->
    <div class="row ">
      <div class="p-0 col-md-10 offset-md-1 ">
        <div class="Bord1">

        </div>
        <form  id="registrationForm" method="post">

          <div class="d-flex flex-column flex-md-row justify-content-start align-items-start">
            <div class="col-12 col-md-6 boxIn">
              <div>
               <label for="Titolo" class="fw-bold"> Titolo  </label>
              </div>
              <div>
                <input class="border-dark textInput richiesto" id="Titolo" type="text"
                       name="Titolo" placeholder="Inserisci il titolo del libro">
              </div>
              <div class="messErr p-0">                            </div>
            </div>
            <div class="col-12 col-md-6 boxIn">
              <div>
                <label for="Autore" class="fw-bold "> Autore  </label>
              </div>
              <div>
                <input class=" border-dark textInput richiesto" id="Autore" type="text"
                       name="Autore" placeholder="Inserisci il nome dell'autore">
              </div>
              <div class="messErr p-0">                            </div>
            </div>
          </div>

    <div class="d-flex flex-column flex-md-row justify-content-start align-items-start">
      <div class="col-12 col-md-6 boxIn">
        <div>
          <label for="Prefazione" class="fw-bold"> Prefazione </label>
        </div>
        <div>
          <input class="border-dark textInput richiesto" id="Prefazione" type="text"
                 placeholder="Inserisci la prefazione">
        </div>
        <div class="messErr p-0">                            </div>
      </div>
      <div class="col-12 col-md-6 boxIn">
        <div>
          <label for="Genere" class="fw-bold "> Genere </label>
        </div>
        <div>
          <input class="border-dark textInput richiesto" id="Genere" type="text"
                 placeholder="Inserisci il genere del libro">
        </div>
        <div class="messErr p-0">                            </div>
      </div>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-start align-items-start">
      <div class="col-12 col-md-6 boxIn">
        <div>
          <label for="Casa-editrice" class="fw-bold"> Casa editrice </label>
        </div>
        <div>
          <input class="border-dark textInput richiesto" id="Casa-editrice" type="text"
                 placeholder="Inserisci la casa editrice">
        </div>
        <div class="messErr p-0">                            </div>
      </div>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-start align-items-start">

      <div class="col-12 col-md-6 boxIn">
        <div>
          <label for="ISBN" class="fw-bold "> ISBN </label>
        </div>
        <div>
          <input class="border-dark textInput richiesto" id="ISBN" type="text"
                 placeholder="Inserisci l'ISBN del libro">
        </div>
        <div class="messErr p-0">                            </div>
      </div>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-start align-items-start">
      <div class="col-12 col-md-6 boxIn">
        <div>
          <label for="Numero-pagine" class="fw-bold">Numero pagine </label>
        </div>
        <div>
          <input class="border-dark textInput richiesto" id="Numero-pagine" type="text"
                 placeholder="Inserisci numero di pagine">
        </div>
        <div class="messErr p-0">                            </div>
      </div>
      <div class="col-12 col-md-6 ">
        <div>
          <label for="lingua" class="fw-bold "> Lingua </label>
        </div>
        <div class="col-12 col-md-6 ">
          <select name="lingue" id="lingua" class="border-dark">
            <option value="" selected disabled>Scegli la lingua</option>
            <option value="Italiano">Italiano</option>
            <option value="English">English</option>
            <option value="Francais">Francais</option>
            <option value="Deutsch">Deutsch</option>
            <option value="Espanol">Espanol</option>
          </select>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-start align-items-start">
      <div class="col-12 col-md-6 boxIn">
        <div>
          <label for="Quantità" class="fw-bold "> Quantità  </label>
        </div>
        <div>
          <input class="border-dark textInput richiesto" id="Quantità" type="text"
                 placeholder="Inserisci la quantità">
        </div>
        <div class="messErr p-0">                            </div>
      </div>
      <div class="col-12 col-md-6 boxIn">
        <div>
          <label for="URLC" class="fw-bold "> URL Copertina  </label>
        </div>
        <div>
          <input class="border-dark textInput richiesto" id="URLC" type="text"
                 placeholder="Inserisci la quantità">
        </div>
        <div class="messErr p-0">                            </div>
      </div>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-start align-items-start">
        <div class="col-12 col-md-6 boxIn">
          <div>
            <label for="Scaffale" class="fw-bold"> Scaffale  </label>
          </div>
          <div>
            <input class="border-dark textInput richiesto" id="Scaffale"
                   type="text" placeholder="Inserisci lo scaffale">
          </div>
          <div class="messErr p-0">                            </div>
        </div>
        <div class="col-12 col-md-6 boxIn">
            <div>
              <label for="Ripiano" class="fw-bold"> Ripiano  </label>
            </div>
              <div>
                <input class="border-dark textInput richiesto " id="Ripiano"
                       type="text" placeholder="Inserisci il ripiano">
              </div>
          <div class="messErr p-0">                            </div>
        </div>
    </div>
<!--          <div class="d-flex flex-column flex-md-row justify-content-start align-items-start">-->
<!--            <div class="col-12 col-md-6 boxIn ">-->
<!--              <div>-->
<!--                <form-->
<!--                action="upload.asp" method="post" enctype="multipart/form-data" >-->
<!--                <label for="Copertina" class="fw-bold"> Inserisci file copertina </label>-->
<!--                <input type="file" name="Copertina" id="Copertina" class="">-->
<!--                <input type="submit" value="Upload" class="px-2 py-4 text-uppercase text-center textInput richiesto">-->
<!--              </form>-->
<!--              <div class="messErr p-0">                            </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div> se attivato non funziona campo obbligatorio javascript -->
          <div class="mt-4">
            <button class="btn btn-lg px-2 py-4 ms-auto mt-2 col-4" id="Aggiorna" type="submit"
                    value="submit"> Aggiorna
            </button>
          </div>
        </form>
      </div>
    </div>
    <!-- Inserzioni responsitive dal tablet -->
    <div class="row ">
      <div class="col-md-10 offset-md-1" id="idReport">

      </div>
    </div>

    <footer class="footer mt-5 p-0 d-flex flex-row justify-content-between align-items-center">
      <div class="p-0 ">
        Fastbook © 2020
      </div>
      <div class="p-0 d-flex flex-row justify-content-end align-items-center">
        <span>About</span>
        <span>FAQ</span>
        <span>Terms & Conditions</span>
        <span>Privacy Policy</span>
      </div>
    </footer>
  </div>
</div>
<script src="../static/js/Libro.js"></script>
</body>
</html>
