<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../static/css/Style.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/Header.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/Footer.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/Login.css"/>
    <link href="../static/bootstrap-5.0.2-dist/css/bootstrap.min.css" rel="stylesheet" >
    <link rel="icon" href="../static/icon/icon.png">
    <meta charset="UTF-8">
    <title>FastBook</title>
</head>
<body>
<div class="sfondo p0 d-flex justify-content-center align-items-center">
    <div class="container home Bord1">
        <!-- Intestazione responsitive dal tablet -->
        <div class="row p0">
            <nav class="px-md-5 hero d-flex flex-column flex-md-row justify-content-between align-items-center">
                <div class="">
                    <span class="logo"><img src="../static/image/FastBook.png"/></span>
                </div>
                <div class="menu p-3  d-flex flex-row justify-content-center align-items-center">
                    <span class="Bord1 mScelta px-5"><a href="Index.html">Home</a></span>
                    <span class="Bord1 mScelta px-5"><a href="Registrazione.html">Registrati</a></span>
                </div>
                <div class="Bottone d-flex justify-content-center align-items-center">
                        <span class="Bord1">
                            <a href="Login.html">Accedi</a>
                        </span>
                </div>
            </nav>
        </div>
        <!-- Corpo responsitive dal tablet -->
        <div class="row ">
            <div class="p-0 col-10 offset-1 col-md-6 offset-md-3">
                <div class="Bord1 ">
                    <h1>Benvenuto</h1>
                </div>
                <form  id="login" method="post">
                    <div class="scheda d-flex flex-column justify-content-center align-items-center">
                        <div class="col-10 boxIn">
                            <div >
                                <label for="Email" class="fw-bold text-center"> Email </label>
                            </div>
                            <div>
                                <input class="border-dark textInput richiesto" id="Email" type="text"
                                       placeholder="Inserisci la tua Email">
                            </div>
                            <div class="messErr p-0">                            </div>
                        </div>
                        <div class="col-10 boxIn">
                            <div>
                                <label for="Password" class="fw-bold text-center"> Password </label>
                            </div>
                            <div>
                                <input class="border-dark textInput richiesto" id="Password"
                                       type="password" placeholder="Inserisci la tua password">
                            </div>
                            <div class="messErr p-0">                            </div>
                        </div>
                        <div class="mt-3 col-10 col-md-8">
                            <button class="btn btn-lg py-3 mt-2 col-4" id="LoginBtn" type="submit"
                                    value="submit">Login
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- Inserzioni responsitive dal tablet -->
        <div class="row ">
            <div class="col-md-10 offset-md-1" id="idReport">

            </div>
        </div>

        <footer class="footer mt-5 p-0 d-flex flex-row justify-content-between align-items-center">
            <div class="p-0 ">
                Fastebook © 2020
            </div>
            <div class="p-0 d-flex flex-row justify-content-end align-items-center">
                <span>About</span>
                <span>FAQ</span>
                <span>Terms & Conditions</span>
                <span>Privacy Policy</span>
            </div>
        </footer>
    </div>
</div>
<script src="../static/js/script.js"></script>
</body>
</html>
