<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link href="style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/header.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/Footer.css"/>
    <link href="../static/bootstrap-5.0.2-dist/css/bootstrap.min.css" rel="stylesheet" >
    <link rel="icon" href="../static/icon/icon.png">
    <meta charset="UTF-8">
    <title>FastBook</title>
</head>
<body>
<div class="sfondo p0 d-flex justify-content-center align-items-center">
    <div class="container home Bord1">
        <!-- Intestazione responsitive dal tablet -->
        <div class="row p0">
            <nav class="hero d-flex flex-column flex-md-row justify-content-between align-items-stretch">
                <div></div>
            </nav>
        </div>
        <!-- Corpo responsitive dal tablet -->
        <div class="row pT5">
            <div class="p0 col-md-10 offset-md-1 ">
                <div class="Bord1 textC">

                </div>
                <form  id="search" method="post">

                </form>
            </div>
        </div>
        <!-- Inserzioni responsitive dal tablet -->
        <div class="row ">
            <div class="col-md-10 offset-md-1" id="idReport">

            </div>
        </div>

        <footer class="footer p0 d-flex flex-row justify-content-between align-items-center">
            <div class="p0 w5-1">
                Fastebook © 2020
            </div>
            <div class="p0 w5-1 d-flex flex-row justify-content-end align-items-center">
                <span>About</span>
                <span>FAQ</span>
                <span>Terms & Conditions</span>
                <span>Privacy Policy</span>
            </div>
        </footer>
    </div>
</div>
<script src="Static/JS/FindHome.js"></script>
</body>
</html>
