<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/Style.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/Header.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/Footer.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/TabellaLibri.css"/>
    <link href="../../static/bootstrap-5.0.2-dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="../../static/icon/icon.png">
    <meta charset="UTF-8">
    <title>FastBook</title>
</head>
<body>
<div class="sfondo p0 d-flex justify-content-center align-items-center">
    <div class="container home Bord1">
        <!-- Intestazione responsitive dal tablet -->
        <div class="row p0">
            <nav class="px-md-5 hero d-flex flex-column flex-md-row justify-content-between align-items-center">
                <div class="">
                    <span class="logo"><img src="../../static/image/FastBook.png"/></span>
                </div>
                <div class="menu p-3  d-flex flex-row justify-content-center align-items-center">
                    <span class="Bord1 mScelta px-5"><a href="../Index.html">Home</a></span>
                    <span class="Bord1 mScelta px-5"><a href="../Registrazione.html">Registrati</a></span>
                </div>
                <div class="Bottone d-flex justify-content-center align-items-center">
                        <span class="Bord1">
                            <a href="../Login.html">Accedi</a>
                        </span>
                </div>
            </nav>
        </div>
        <!-- Corpo responsitive dal tablet -->
        <div class="row ">
            <div class="p-0 col-md-10 offset-md-1 ">
                <div class="Bord1">

                </div>

                <label for="ricerca">Cerca Autore:</label>

                <input type="text" id="ricerca"  onkeyup="cerca()" name="ricerca" placeholder="Cerca..."><br/><br/>
                <table id="tabella">
                    <thead>
                    <tr>
                        <th style="border: 1px solid black;">nominativo</th>
                        <th style="border: 1px solid black;">data_nascita</th>
                        <th style="border: 1px solid black;">luogo_nascita</th>
                        <th style="border: 1px solid black;">data_morte</th>
                        <th style="border: 1px solid black;">luogo_morte</th>
                        <th style="border: 1px solid black;">biografia</th>
                        <th style="border: 1px solid black;">id_autore</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="border: 1px solid black;">J. K. Rowling</td>
                        <td style="border: 1px solid black;">1965-07-31</td>
                        <td style="border: 1px solid black;">Yate, Regno Unito</td>
                        <td style="border: 1px solid black;">NULL</td>
                        <td style="border: 1px solid black;">NULL</td>
                        <td style="border: 1px solid black;">Nata a Yate il 31 luglio 1965, durante la sua infa...</td>
                        <td style="border: 1px solid black;">1</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;">Terry Pratchett </td>
                        <td style="border: 1px solid black;">1948-04-28</td>
                        <td style="border: 1px solid black;">Y Beaconsfield, Regno Unito</td>
                        <td style="border: 1px solid black;">2015-03-15</td>
                        <td style="border: 1px solid black;">Broad Chalke, Regno Unito</td>
                        <td style="border: 1px solid black;">Sir Terry Pratchett, all'anagrafe Terence David Jo...</td>
                        <td style="border: 1px solid black;">2</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;">Linda L. Paget</td>
                        <td style="border: 1px solid black;">1955-05-23</td>
                        <td style="border: 1px solid black;">Calgary, Canada</td>
                        <td style="border: 1px solid black;">NULL</td>
                        <td style="border: 1px solid black;">NULL</td>
                        <td style="border: 1px solid black;">Linda Lou Paget, educartice sessuale, dirige da an...</td>
                        <td style="border: 1px solid black;">3</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;">Jack London</td>
                        <td style="border: 1px solid black;">1965-07-31</td>
                        <td style="border: 1px solid black;">Yate, Regno Unito</td>
                        <td style="border: 1px solid black;">NULL</td>
                        <td style="border: 1px solid black;">NULL</td>
                        <td style="border: 1px solid black;">Nata a Yate il 31 luglio 1965, durante la sua infa...</td>
                        <td style="border: 1px solid black;">4</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;">J. K. Rowling</td>
                        <td style="border: 1px solid black;">1876-01-12</td>
                        <td style="border: 1px solid black;">San Francisco, California, Stati Uniti</td>
                        <td style="border: 1px solid black;">1916-12-22</td>
                        <td style="border: 1px solid black;">Glen Ellen, California, Stati Uniti</td>
                        <td style="border: 1px solid black;">Nacque a San Francisco in California nel 1876, fig...</td>
                        <td style="border: 1px solid black;">5</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;">Alessandro Manzoni</td>
                        <td style="border: 1px solid black;">1785-03-07</td>
                        <td style="border: 1px solid black;">Milano</td>
                        <td style="border: 1px solid black;">1873-05-22</td>
                        <td style="border: 1px solid black;">Milano</td>
                        <td style="border: 1px solid black;">Alessandro Manzoni (1785, Milano – 1873, Milano) è...</td>
                        <td style="border: 1px solid black;">6</td>
                    </tr>
                    </tbody>
                </table>

                <footer class="footer p-0 d-flex flex-row justify-content-between align-items-center">
                    <div class="p-0 ">
                        Fastbook © 2020
                    </div>
                    <div class="p-0 d-flex flex-row justify-content-end align-items-center">
                        <span>About</span>
                        <span>FAQ</span>
                        <span>Terms & Conditions</span>
                        <span>Privacy Policy</span>
                    </div>
                </footer>
            </div>
        </div>
        <script src="../../static/js/show/AutoriShow.js"></script>
    </div>
</div>
</body>
</html>