<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/Style.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/Header.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/Footer.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/Carrello.css"/>
    <link href="../../static/bootstrap-5.0.2-dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="../../static/icon/icon.png">
    <meta charset="UTF-8">
    <title>FastBookCarrello</title>
</head>
<body>
<div class="sfondo p0 d-flex justify-content-center align-items-center">
    <div class="container home Bord1">

        <!-- Intestazione responsitive dal tablet -->
        <div class="row p0">
            <nav class="px-md-5 hero d-flex flex-column flex-md-row justify-content-between align-items-center">
                <div class="">
                    <span class="logo"><img src="../../static/image/FastBook.png"/></span>
                </div>
                <div class="menu p-3  d-flex flex-row justify-content-center align-items-center">
                    <span class="Bord1 mScelta px-5"><a href="../Index.html">Home</a></span>
                    <span class="Bord1 mScelta px-5"><a href="../Registrazione.html">Registrati</a></span>
                </div>
                <div class="Bottone d-flex justify-content-center align-items-center">
                        <span class="Bord1">
                            <a href="../Login.html">Accedi</a>
                        </span>
                </div>
            </nav>
        </div>
        <!-- Corpo responsitive dal tablet -->
        <div class="row ">
            <h1 class="titolo" id="Nominativo"> Le prenotazioni di .....</h1>
        </div>
        <!-- Inserzioni responsitive dal tablet -->
        <div class="col-md-4 offset-md-8 d-flex flex-row justify-content-end">
            <button class="" id="ordinati" type="button" >
                ordinati
            </button>
            <button class="nascondi" id="inattesa" type="button" >
                in attesa
            </button>
        </div>
        <div class="row ">
            <div class="col-md-10 offset-md-1 d-flex flex-column" id="prodotti">
<!--                <div class="d-flex flex-row justify-content-between align-items-center">-->
<!--                    <img src="../../static/image/Harry_Potter_e_il_calice_di_fuoco.jpg">-->
<!--                    <div class="">-->
<!--                        <a href=""> Harry Potter e il Calice di Fuoco</a>-->
<!--                    </div>-->
<!--                    <div>N. 1</div>-->
<!--                    <button class=" bObj" type="button" value="">Elimina</button>-->
<!--                </div>-->

            </div>

            <div class="col-md-6 offset-md-6 d-flex flex-column justify-content-end">
                <div>
                    <label for="dataConsegnaIn"><strong>Pianifica il ritiro</strong></label>
                </div>
                <div>
                    <input id="dataConsegnaIn" type="date" name="dataConsegna" maxlength="50"
                           placeholder="Formato XX-YY-ZZZZ">
                    <div id="dataErrore" class="nascondi messErr">--- Data obligatoria --</div>
                </div>
                <div>
                    <button class="" id="conferma" type="button">
                        CONFERMA
                    </button>
                </div>
            </div>

            <footer class="footer mt-5  p-0 d-flex flex-row justify-content-between align-items-center">
                <div class="p-0 ">
                    Fastbook © 2020
                </div>
                <div class="p-0 d-flex flex-row justify-content-end align-items-center">
                    <span>About</span>
                    <span>FAQ</span>
                    <span>Terms & Conditions</span>
                    <span>Privacy Policy</span>
                </div>
            </footer>
        </div>
    </div>
</div>
<script src="../../static/js/show/CarrelloShow.js"></script>
</body>
</html>
