<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/Style.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/Header.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/Footer.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/LibriShow.css"/>
    <link href="../../static/bootstrap-5.0.2-dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="../../static/icon/icon.png">
    <meta charset="UTF-8">
    <title>FastBook</title>
</head>
<body>
<div class="sfondo p0 d-flex justify-content-center align-items-center">
    <div class="container home Bord1">
        <!-- Intestazione responsitive dal tablet -->
        <div class="row p0">
            <nav class="px-md-5 hero d-flex flex-column flex-md-row justify-content-between align-items-center">
                <div class="">
                    <span class="logo"><img src="../../static/image/FastBook.png"/></span>
                </div>
                <div class="menu p-3  d-flex flex-column flex-md-row justify-content-center align-items-center" id="menu">
                    <span class="Bord1 mScelta px-5"><a id="lHome" href="">Home</a></span>
                    <span class="Bord1 mScelta px-5"><a href="../Registrazione.html">Registrati</a></span>
                </div>
                <div class="Bottone d-flex justify-content-center align-items-center" id="lgn">
                        <span class="Bord1">
                            <a href="../Login.html">Accedi</a>
                        </span>
                </div>
            </nav>
        </div>
        <div class="p-0 col-md-10 offset-md-2">
            <form id="search" method="post">
                <div class="ricerca d-flex flex-column flex-md-row justify-content-end align-items-center">
                    <div class="Bord1">
                        <input type="text" value="" placeholder="Ricerca per titolo" id="inputName">
                    </div>
                    <div class="Bord1">
                        <input type="text" value="" placeholder="Ricerca per autore" id="inputAutor">
                    </div>
                    <div class="Bord1">
                        <input type="text" value="" placeholder="Ricerca per casa editrice" id="inputCasaEditrice">
                    </div>
                    <div class="Bord1 col-md-3">
                        <button class="bRicerca" id="richiesta" type="submit">Ricerca</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- Corpo responsitive dal tablet -->
        <div class="row ">
            <div class="p-0 col-md-10 offset-md-1 ">
                <div class="Bord1 " id="aggL">

                </div>

                <label for="ricerca">Cerca Libro:</label>

                <input type="text" id="ricerca"  onkeyup="cerca()" name="ricerca" placeholder="Cerca..."><br/><br/>
                <table id="tabella">
                    <thead id="tabellaHead">
                    <tr>
<!--                        <th style="border: 1px solid black;">titolo</th>-->
<!--                        <th style="border: 1px solid black;">autore</th>-->
<!--&lt;!&ndash;                        <th style="border: 1px solid black;">casa_editrice</th>&ndash;&gt;-->
<!--&lt;!&ndash;                        <th style="border: 1px solid black;">genere</th>&ndash;&gt;-->
<!--&lt;!&ndash;                        <th style="border: 1px solid black;">pagine</th>&ndash;&gt;-->
<!--                        <th style="border: 1px solid black;">lingua</th>-->
<!--                        <th style="border: 1px solid black;">quantità</th>-->
<!--                        <th style="border: 1px solid black;">prefazione</th>-->

                    </tr>
                    </thead>
                    <tbody id="tabellaBody">
                    <!--                    <tr>-->
                    <!--                        <td style="border: 1px solid black;">J. K. Rowling</td>-->
                    <!--                        <td style="border: 1px solid black;">1965-07-31</td>-->
                    <!--                        <td style="border: 1px solid black;">Yate, Regno Unito</td>-->
                    <!--                        <td style="border: 1px solid black;">NULL</td>-->
                    <!--                        <td style="border: 1px solid black;">NULL</td>-->
                    <!--                        <td style="border: 1px solid black;">Nata a Yate il 31 luglio 1965, durante la sua infa...</td>-->
                    <!--                        <td style="border: 1px solid black;">1</td>-->
                    <!--                    </tr>-->
                    </tbody>
                </table>

                <footer class="footer mt-5 p-0 d-flex flex-row justify-content-between align-items-center">
                    <div class="p-0 ">
                        Fastbook © 2020
                    </div>
                    <div class="p-0 d-flex flex-row justify-content-end align-items-center">
                        <span>About</span>
                        <span>FAQ</span>
                        <span>Terms & Conditions</span>
                        <span>Privacy Policy</span>
                    </div>
                </footer>
            </div>
        </div>
        <script src="../../static/js/show/LibriShow.js"></script>
    </div>
</div>
</body>
</html>