<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/Style.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/Product.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/Header.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/Footer.css"/>
    <link href="../../static/bootstrap-5.0.2-dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="../../static/icon/icon.png">
    <meta charset="UTF-8">
    <title>FastBook - Product</title>
</head>
<body>
<div class="sfondo p0 d-flex justify-content-center align-items-center">
    <div class="container home Bord1">
        <!-- Intestazione responsitive dal tablet -->
        <div class="row d-flex justify-content-end">
            <nav class="px-md-5 hero d-flex flex-column flex-md-row justify-content-between align-items-center">
                <div class="">
                    <span class="logo"><img src="../../static/image/FastBook.png"/></span>
                </div>
                <div class="menu p-3  d-flex flex-row justify-content-center align-items-center">
                    <span class="Bord1 mScelta px-5"><a href="../Index.html">Home</a></span>
                    <span class="Bord1 mScelta px-5"><a href="../Registrazione.html">Registrati</a></span>
                </div>
                <div class="Bottone d-flex justify-content-center align-items-center">
                        <span class="Bord1">
                            <a href="../Login.html">Accedi</a>
                        </span>
                </div>
            </nav>
        </div>
        <div class="p-0 col-md-10 offset-md-2">
            <form id="search" method="post">
                <div class="ricerca d-flex flex-column flex-md-row justify-content-end align-items-center">
                    <div class="Bord1">
                        <input type="text" value="" placeholder="Ricerca per titolo" id="inputName">
                    </div>
                    <div class="Bord1">
                        <input type="text" value="" placeholder="Ricerca per autore" id="inputAutor">
                    </div>
                    <div class="Bord1">
                        <input type="text" value="" placeholder="Ricerca per casa editrice" id="inputCasaEditrice">
                    </div>
                    <div class="Bord1 col-md-3">
                        <button class="" id="richiesta" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- Corpo responsitive dal tablet -->
        <div class="row pTimage">
            <div class="p0 col-md-10 offset-md-1 ">
                <div class="Bord1 d-flex flex-column flex-md-row justify-content-start align-items-center">
                    <div class="image p-2 px-md-0 mx-2 lh-1">
                        <img id="copertina" src="">
                    </div>
                    <div class="paragrafo">
                        <p>
                        <h2><strong id="titolo"> </strong></h2>
                        <section id="autore"> </section>
                        <br/>
                        <section id="prefazione"> </section>
                        </p>
                    </div>
                </div>
                <div class="p0 col-md-10 offset-md-1 ">
                    <button class="prenota" type="submit"> Prenota</button>
<!--   NIENTE QUANTITA' POICHE LA NOSTRA BIBLIOTECA PRESTA UN SOLO LIBRO PER VOLTA!!!!   -->
<!--                    <div>-->
<!--                        <legend> Quantità: </legend>-->

<!--                        <select name="quantita" id="qnt">-->
<!--                            <option value="1"> 1</option>-->
<!--                            <option value="2"> 2</option>-->
<!--                            <option value="3"> 3</option>-->
<!--                        </select>-->

<!--                    </div>-->
                </div>
            </div>
            <div class="p0 col-md-10 offset-md-1">
                <h3> Dettagli </h3>
                <hr/>
                <p><span> Editore </span>
                    <span id="id_editore" class="value">Mondadori</span>
                </p>
                <hr/>
                <p><span> Genere </span>
                    <span id="id_genere" class="value">Romanzo</span>
                </p>
                <hr/>
                <p><span> Pagine </span>
                    <span id="pagine" class="value">309</span>
                </p>
                <hr/>
                <p><span> Lingua </span>
                    <span id="lingua" class="value">Italiano</span>
                </p>
                <hr/>
                <p><span> Isbn </span>
                    <span id="isbn" class="value">214743564</span>
                </p>
                <hr/>
                <p><span> Quantità </span>
                    <span id="quantita" class="value">4</span>
                </p>
            </div>

        </div>

        <footer class="footer p-0 d-flex flex-row justify-content-between align-items-center">
            <div class="p-0 ">
                Fastebook © 2020
            </div>
            <div class="p-0 d-flex flex-row justify-content-end align-items-center">
                <span>About</span>
                <span>FAQ</span>
                <span>Terms & Conditions</span>
                <span>Privacy Policy</span>
            </div>
        </footer>
    </div>
</div>
<script src="../../static/js/show/Product.js"></script>
</body>
</html>